<!-- products.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      border: 2px solid #050000;
    }

    th, td {
      border: 2px solid #dcd8d8;
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: #bdb6b6;
      text-align: center;
    }
    h1{
      text-align: center;
      color: black;
    }
     tr:hover {
            background-color: #f4eded; /* Background color on hover */
        }
    td:nth-child(1) {
            width: 40px; /* Adjust the width as needed */
        }
    
  </style>
</head>
<body>
  <h1>Product List</h1>
  <table>
    <thead>
      <tr>
        <th>Sr. No</th>
        <th>ID</th>
        <th>Subcategory</th>
        <th>Title</th>
        <th>Price</th>
        <th>Popularity</th>
      </tr>
    </thead>
    <tbody>
      <% let serialNo = 1; %>
      <% products.forEach(product => { %>
        <tr>
          <td><%= serialNo++ %></td>
          <td><%= product.id %></td>
          <td><%= product.subcategory %></td>
          <td><%= product.title %></td>
          <td><%= product.price %></td>
          <td><%= product.popularity %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
